
.cardin {
    width: 90%;
    margin: auto;
  }
  
.cards {
    justify-content: center;
    display: flex;
    align-items: center;
  }
.card {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
    margin: 2rem;
    display: inline-block;
    height: auto;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 10px 60px -10px rgb(91 36 161 / 25%);
  }
.round {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin: auto;
}
  .ron1 {
    background-color: #ff236c;
  }
  
  .ron2 {
    background-color: #ffc259;
  }
  
  .ron3 {
    background-color: #5d58ef;
  }
  
  .ron4 {
    background-color: #ff7f59;
  }
  
  .card h2 {
    padding-top: 15px;
    font-weight: 600;
  }
  
  .card p {
    line-height: 2em;
  }
  @media screen and (min-width: 600px) {
   .cards {
        width: 100%;
      }
    
      .cardin {
        width: 100%;
        margin: auto;
      }
    
      .round {
        width: 8vw;
        height: 8vw;
      }
    
  }  