.preschool {
  margin-top: 0;
}
.head,
.inputHeading {
  font-family: "Fredoka One", cursive;
  color: #333;
  font-weight: 500;
  font-size: 30px;
  width: 100%;
  border: none;
  outline: 0;
  background: transparent;
}
.preschool .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot {
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.image {
  margin-top: 0px;
  border-radius: 0px 0px 150px 150px;
  overflow: hidden;
}
.preschool_text_p,
.inputPara {
  font-size: 20px;
  width: 100%;
  border: none;
  outline: 0;
  background: transparent;
}

.rt_pad {
  padding-right: 100px;
}
@media screen and (min-width: 600px) {
  .preschool {
    margin-top: 0;
  }

  .preschool .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bot {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .rt_pad {
    padding-right: 0px;
  }
}
@media screen and (min-width: 900px) {
  .rt_pad {
    padding-right: 100px;
  }
}
