.about {
  text-align: center;
}

.about_h2,
.inputHeading {
  padding-top: 10px;
  width: 100%;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2em;
  background: transparent;
  color: #333;
  border: none;
  outline: 0;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.about_p,
.inputPara {
  width: 100%;
  font-weight: 500;
  padding-top: 10px;
  line-height: 2em;
  color: #666;
  text-align: center;
  border: none;

  font-size: 17px;
  outline: 0;
  background: transparent;
  font-weight: 500;
  font-family: Open Sans, Arial, sans-serif;
}

@media screen and (min-width: 600px) {
  .about {
    width: 90%;
  }

  .about_h2,
  .inputHeading {
    font-size: 5rem;
  }
}
