.about {
    text-align: center;
  }
  
  .about_h2 {
    padding-top: 10px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2em;
    color: #333;
    font-family: "Fredoka One", cursive;
  }
  
  .about_p {
    font-weight: 500;
    padding-top: 10px;
    line-height: 2em;
    color: #666;
    font-size: 17px;
    font-weight: 500;
    font-family: Open Sans, Arial, sans-serif;
  }
  @media screen and (min-width: 600px) {

    .about {
        width: 90%;
      }
    
      .about_h2 {
        font-size: 5rem;
      }
    
  }  