.galleryheading,
.galleryheading h2 {
  text-align: center;
  font-size: 60px;
  padding: 10px;
  font-weight: 500;
}

.gallery {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.gal {
  padding: 0.9rem;
  border-radius: 4px;
  background-color: #fff;
  transition: transform 300ms ease-in;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.gal:focus {
  outline: 2px solid #1d4ed8;
}

.gal_wrapper {
  position: relative;
  overflow: hidden;
}

.gal img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: bottom;
  border-radius: 3px;
  transition: transform 500ms linear;
}

.gal_wrapper:hover img {
  transform: scale(1.1);
}

.hidden_cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition: transform 250ms ease-in;
  background: linear-gradient(transparent 5%, hsl(0, 0%, 5%, 0.6));
  transform-origin: top;
  will-change: transform;
}

.gal_wrapper:hover .hidden-cover {
  transform: scaleY(1);
}

h4 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 2rem;
  font-size: 2rem;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  overflow: hidden;
  font-family: "Oswald";
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(100%);
  transform-origin: bottom;
  transition: transform 250ms ease-out;
  will-change: transform;
}

.gal_wrapper:hover h4 {
  transform: translateY(-2rem);
}

.uploadImage {
  height: "100%";
  overflow: "hidden";
}

.fileType {
  position: absolute;
  width: 0;
  height: 0;
}

.fileLabel {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
}

.uploadImage:hover .fileLabel {
  z-index: 10;
  cursor: pointer;
}

.inputHeader {
  border: none;
  outline: 0;
  text-align: center;
}

.inputPara {
  font-size: 1.5rem;
  color: #000;
  border: none;
  outline: 0;
  background: transparent;
  width: 100%;
  text-align: center;
}
