
.contact {
    position: relative;
    min-height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  
  .content {
    max-width: 800px;
    text-align: center;
  }
  
 .content_h2 {
    font-size: 50px;
    font-weight: 500px;
  }
  
 .content_p,.inputPara {
    font-weight: 500px;
text-align: center;
width: 680px;

  background: transparent;
  border: none;
  outline: 0;
  }
  
  .contact .container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
   .contactInfo {
    width: 50%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
  }
  
.box {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  
  .icon_address {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  
.icon_address {
    color: crimson;
  }
  
 .text_address {
    display: flex;
    margin-left: 20px;
  
    flex-direction: column;
    
  }
  .text_address_p, .inputtext {
    font-size: 16px;
 
    font-weight: 300;
    width: 100%;
    background: transparent;
    border: none;
    outline: 0;
  }
 .text_address_h3 {
    font-weight: 600;
    color: #333;
  }
  
  .ContactForm {
    width: 100%;
    padding: 40px;
    background: orange;
  }
  
  .ContactForm_h2 {
    font-size: 30px;
    color: #333;
    font-weight: 600;
  }
  
.inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
 .inputbox input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
 .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
.inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
 .inputbox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  
}
@media screen and (min-width: 600px) {
 .con {
    display: flex;
    
  }

  .ContactForm {
    width: 50%;
    padding: 40px;
  }  
}


