@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@500&family=Dongle:wght@300;400&family=Inter:wght@300;600&family=Permanent+Marker&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@500&family=Dongle:wght@300;400&family=Inter:wght@300;600&family=Overpass:wght@100;300&family=Pacifico&family=Permanent+Marker&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@500&family=Dongle:wght@300;400&family=Inter:wght@300;600&family=Overpass:wght@100;300&family=Permanent+Marker&family=Roboto&display=swap");

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --primary: #dc3545;
  --secondary: #fff;
}

img {
  max-width: 100%;
}

p,
label,
.row,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.reg-head {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}
.scroll-view {
  min-height: 100vh;
  box-shadow: 5px 0 5px -5px #333;
}

.list-item a {
  font-size: 14px;
  color: var(--primary);
  padding: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.list-item a svg {
  /* fill: var(--primary); */
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}

.list-item a:hover {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(238, 8, 8, 1) 0%,
    rgba(237, 237, 237, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-item a:hover svg,
.list-item a.active svg {
  fill: #fff;
}

.list-item a.active {
  color: white;
  font-weight: 100;
  border: none;
  background: rgb(255, 58, 58);
  background: linear-gradient(
    79deg,
    rgba(255, 58, 58, 1) 0%,
    rgba(247, 247, 247, 1) 100%,
    rgba(242, 235, 234, 1) 100%
  );
}

.landing_logo {
  width: 5%;
  height: inherit;
  margin-right: 1rem;
}

.landing_logo g {
  fill: #ff0000;
}

.intro-box {
  color: #000;
  font-size: 12px;
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none !important;
}

.intro-box .icon {
  width: 6%;
  margin-right: 10px;
}

.intro-box:hover {
  color: var(--primary);
}

.intro-box:hover svg {
  fill: var(--primary);
}

.profile_img {
  font-size: 14px;
  width: 38px;
  height: 38px;
  display: flex;
  color: var(--secondary);
  background: var(--primary);
  letter-spacing: 2px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.all-section-list {
  height: 91vh;
  overflow-y: auto;
  background: #fff;
}

.all-section-list::-webkit-scrollbar {
  width: 0 !important;
}

/* styling for accordions */
.accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  font-size: 14px;
  color: #000;
  background: #efefef;
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.accordion__button:after {
  display: inline-block;
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  height: 7px;
  width: 7px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  transition: all ease 0.3s;
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(45deg);
  transition: all ease 0.3s;
}

.accordion__panel {
  padding: 0;
  transition: all ease-in 0.35s;
}

.inner-accordion-list {
  font-size: 12px;
  display: flex;
  width: 100%;
  color: var(--primary);
  padding: 0.5rem 1.25rem;
  transition: all ease 0.3s;
}

.inner-accordion-list:hover {
  cursor: pointer;
  border-right: 2px solid #ccc;
  transition: all ease 0.3s;
}

.special-scroll::-webkit-scrollbar {
  width: 3px;
}
.special-scroll::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: var(--primary);
  border-radius: 5px;
}
.special-scroll::-webkit-scrollbar-track {
  width: 3px;
  background-color: #ccc;
}
/* login */
.Lg-form {
  font-weight: 600;
  height: 100vh;
}
.cz-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Lg-form .btn {
  background: rgb(255, 58, 58);
}

.saveButton {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
  background: #dcdcdc;
  color: #000;
  text-transform: capitalize;
  zoom: 1.3;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  color: #fff;
  background: #dc3545;
}

.profileOverlay {
  position: absolute;
  width: 250px;
  padding: 0.5rem 1.5rem;
  transform: translateY(2.8rem);
  right: 0;
}

.logOutButton {
  display: flex;
  border-radius: 8px;
  z-index: 999;
  cursor: pointer;
  border: none;
  outline: 0 !important;
  align-items: center;
}
/*loader*/
.loader-con {
  position: fixed;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999999;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 25px;
}

.loader span {
  width: 30px;
  height: 30px;
  animation: up 0.9s infinite cubic-bezier(0.41, 0.02, 0, 1.15);
}
.circle {
  border-radius: 50%;
  background-color: #edc240;
}

.triangle {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent !important;
  border-right: 20px solid transparent !important;
  border-bottom: 30px solid #284d4d;
  animation-delay: 0.2s !important;
}
.sqaure {
  background-color: #de4f2e;
  animation-delay: 0.5s !important;
}
@keyframes up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ----- */
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.owl-dots .owl-dot {
  background-color: #fff !important;
  margin: 0 0.25rem;
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 0.5rem;
}

.owl-nav {
  position: relative;
  font-size: 2.5rem;
  width: 80%;
  margin: auto;
}

.owl-prev {
  position: absolute;
  top: -3rem;
  left: 0;
}

.owl-next {
  position: absolute;
  top: -3rem;
  right: 0;
}

.Personalise-gall h2 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.Personalise-gall .wrapper {
  margin: auto;
  width: 60%;
  text-align: center;
}

.Personalise-gall .gal-sect {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
  /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 
                0 0 0 1px rgba(0, 0, 0, 0.1);*/
}

.Personalise-gall h2 {
  letter-spacing: -0.5px;
  font-weight: 700;
  padding-bottom: 10px;
}

.upload-container {
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
  padding: 10px;
}

.border-container {
  border: 5px dashed #fdd4ce;
  /*   border-radius: 4px; */
  padding: 15px 0px;
}

.border-container p {
  color: grey;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

#file-browser {
  text-decoration: none;
  color: #ec270d;
  border-bottom: 3px dotted #ec270d;
}

#file-browser:hover {
  color: red;
  border-bottom: 3px dotted red;
}

.Personalise-gall .icons {
  color: #ec270d;
  opacity: 0.55;
}
.Personalise-gall .fimage {
  transform: rotate(-52deg);
}
.Personalise-gall .folder {
  transform: rotate(52deg);
}
.Personalise-gall input {
  display: none;
}

.Personalise-gall .btn {
  width: 70%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  font-weight: 00;
  border-radius: 1rem;
  background: #ec270d;
  color: white;
  font-family: sans-serif;
  transition: all 0.5s;
  box-shadow: 1px 1px 15px 3px gray;
}
.Personalise-gall .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Personalise-gall label:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.switcher {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: fit-content;
  padding: 14px 20px;
}

.switcher li {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s linear;
  font-size: 20px;
  user-select: none;
  margin: 5px;
}
.switcher li:hover {
  background: #f5533d;
  color: white;
}
.switcher li:active {
  background: #ec270d;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
}
.gallery div {
  max-height: 300px;
}

@media (max-width: 991px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .video-gal {
  height: 400px;
}

.gallery .video-gal iframe {
  width: 500px;
  height: 100%;
  background: #fff;
}
/*navbar-dashborad  */
.set {
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}
